@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e3e2e2;
    width: 100vh;
    margin: 56px 200px;
    columns: 2;
}

.gallery-masonry{
    padding: 56px 200px;
}

.gallery-item{
    border-radius: 20px;
    text-align: center;
} 


/*Gallery Item1*/
.item1{
    width: 294px;
    height: 338px;
    background-color: #f9f9f9;
    margin-bottom: 37px; 
}


/*Gallery Item2*/
.item2{
    width: 294px;
    height: 286px;
    background-color: #f8f8f8; 
}

.item img{
    width: 87px;
    height: 84px;
    margin-top: 25px;
}

.item2 h2{
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin: 29px 0 18px 0;
}

.item2 p{
    color: #7b7881;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 25px;
}

button{
    background-color: #111010;
    width: 264px;
    height: 55px;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
}


/*Gallery Item3*/
.item3{
    width: 294px;
    height: 438px;
    background-color: #383737;
    margin:10px 0 37px 0;
}


/*Gallery Item4*/
.item4{
    width: 294px;
    height: 195px;
    background-color: #fdfdfd;
}

.income{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 18px 26px 18px;
}

.item4 h1{
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-right: 118px;
}

.option-income{
    width: 82px;
    height: 31px;
    color: #000000;
    background-color: #f6f6f8;
    border-radius: 5px;
}

.april h2{
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

.april h3{
    color: #7b7881;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

hr{
    margin: 12px 18px 16px 18px;
}

.march h2{
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

.march h3{
    color: #7b7881;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

